/* extra-extra-large-device */
@media screen and (max-width:1400px) {
    .top-section,
    .bottom-section {
        width: 70%;
    }
    .course-content h3 {
        font-size: 22px;
    }
    .course-detail{
        flex-direction: row;
        align-items: center;
        /* row-gap: 20px; */
    }
    .course-rating i{
        font-size: 13px;
    }
    .course-rating span {
        font-size: 14px;
        margin-left: 4px;
    }
    
    .course-duration {
        padding: 8px 18px;
    }
    
    .course-duration p {
        font-weight: 500;
        font-size: 14px;
    }
}
}
/* extra-large-device */
@media screen and (max-width:1200px){
    .top-section,
    .bottom-section {
        width: 80%;
    }
    .course-content h3 {
        font-size: 22px;
    }
    .course-detail{
        flex-direction: row;
        align-items: center;
        /* row-gap: 20px; */
    }
    .course-rating i{
        font-size: 13px;
    }
    .course-rating span {
        font-size: 14px;
        margin-left: 4px;
    }
    
    .course-duration {
        padding: 8px 18px;
    }
    
    .course-duration p {
        font-weight: 500;
        font-size: 14px;
    }
}


/* large-device-responsive */
@media screen and (max-width:992px) {
    .top-section,
    .bottom-section {
        width: 80%;
    }

    .top-player-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-img img{
        width: 160px;
        height: 100px;
    }
    .blog-text h3{
        font-size: 16px;
        line-height: 20px;
    }
    .blog-text p{
        font-size: 14px;
    }
    .courses-container{
        grid-template-columns: repeat(2, 1fr);
    }
    /* .course-content h3 {
        font-size: 22px;
    } */
    .course-detail{
        flex-direction: row;
        align-items: center;
        row-gap: 20px;
    }
    .course-rating i{
        font-size: 15px;
    }
    .course-rating span {
        font-size: 16px;
    }
    
    .course-duration {
        padding: 8px 25px;
    }
    
    .course-duration p {
        font-weight: 500;
        font-size: 16px;
    }
}

/* Medeium-device-responsive */
@media screen and (max-width:768px) {
    h3 {
        font-size: 16px;
    }

    .top-section,
    .bottom-section{
        width: 80%;
    }

    .top-player-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .top-blog-container{
        grid-template-columns: 1fr;
    }
    .blog-text h3{
        font-size: 20px;
    }
    .blog-text p{
        font-size: 16px;
    }
    .courses-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* small-device-responsive */

@media screen and (max-width:576px) {
    h2{
        text-align: center;
    }
    h3 {
        font-size: 16px;
    }

    .top-section,
    .bottom-section{
        width: 90%;
    }

    .top-player-container {
        grid-template-columns: 1fr;
    }

    .player{
        justify-self:center;
        width: 200px;
    }
    .blog-img img{
        width: 160px;
        height: 100px;
    }
    .blog-text h3{
        font-size: 15px;
        line-height: 20px;
    }
    .blog-text p{
        font-size: 12px;
    }
    /* .blog{
        display: block;
    } */
}