@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* imported font */

/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Lobster', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* universal-h2 style*/
h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
}

/* universal-h2 style */
/* universal-h3 style */
h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

/* universal-h3 style */

body {
    background-color: #F3F1FF;
}

/* top-section-style-start */
main {
    max-width: 100vw;
}

.top-section {
    background-color: #FFFFFF;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.212);
    padding: 33px;
    margin: 0 auto;
}

hr {
    width: 100%;
    height: 1px;
    outline: none;
    border: none;
    background-color: #D1D1D1;
}

/* top-player-section-style-start */
.top-player-container {
    display: grid;
    width: 100%;
    padding: 40px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.player {
    display: flex;
    width: 100%;
    align-items: center;
    justify-self: center;
    column-gap: 20px;
}

.player img {
    width: 56px;
    height: 56px;
}

/* top-player-section-style-end */
/* top-blog-section-style-start */
.top-blog {
    padding: 30px 0 0 0;
}

.top-blog-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.blog-img img {
    width: 177px;
    height: 117px;
}

.blog-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.blog-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
}
.blog-text p a{
    text-decoration: none;
    color: #562EFF;
}